body {
  background: #980000;
  color: #efefef;
  font-family: -apple-system, BlinkMacSystemFont, 'SF UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

header, main  {
  width: 80vw;
  margin: 1em auto;
}

h1 {
  text-align: center;
}

#timer, .pom {
  background-color: rgba(239, 239, 239, 0.0);
  height: 480px;
  width: 480px;
  border-radius: 50%;
  border: 4px solid rgba(239, 239, 239, 1 );
  box-sizing: border-box;
}

#handContainer {
  position: fixed;
  top: calc(38px + 1em + 1em + 11px);
  height: 480px;
  width: 480px;
  display: flex;
  justify-content: center;
}

#hand {
  background-color:  rgba(239, 239, 239, 1);
  height:240px;
  width: 4px;
}

#controlPanel {
  background-color: rgba(239, 239, 239, 0.2);
  margin-top: 2em;
  padding: 2em 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
}

.button {
  padding: 1em 2em;
  background: transparent;
  color: #efefef;
  border: #efefef 2px solid;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background-color: rgba(239, 239, 239, 0.2);
  cursor: pointer;
}
.button:active, .button.click {
  background-color: rgba(239, 239, 239, 0.5);
  animation: wiggle 333ms;
}

.button small {
  z-index: -10;
}

#pomBox {
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.pom {
  height: 2em;
  width: 2em;
  border-width: 2px;
  animation: fadeIn 333ms;
}

@keyframes wiggle {
  0% {transform: rotate(2.5deg);}
  25% {transform: rotate(-2.5deg);}
  50% {transform: rotate(5deg);}
  75% {transform: rotate(-1deg);}
  100% {transform: rotate(0deg);}
}

@keyframes fadeIn {
  0%  {opacity: 0.0}
  10%  {opacity: 0.1}
  20% {opacity: 0.2}
  30% {opacity: 0.3}
  40% {opacity: 0.4}
  50% {opacity: 0.5}
  60% {opacity: 0.6}
  70% {opacity: 0.7}
  80% {opacity: 0.8}
  90% {opacity: 0.9}
  100% {opacity: 1}
}